/*===========================
    COUNTER css 
===========================*/
.counter-area {
	padding-bottom: 88px;
	& .counter-item {
		& i {
			height: 120px;
			width: 120px;
			text-align: center;
			line-height: 120px;
			border-radius: 50%;
			border: 2px dashed $white;
			color: $white;
			font-size: 55px;
		}
		& .title {
			color: $white;
			font-weight: 700;
			color: $white;
			font-size: 56px;
			padding-top: 21px;
			padding-bottom: 5px;
		}
		& span {
			font-size: 15px;
			color: $white;
		}
	}
}
