/*===========================
    FEATURE css 
===========================*/
.feature-area {
	position: relative;
	& .feature-item {
		border: 1px solid #dcdfe2;
		padding-top: 60px;
		padding-bottom: 45px;
		@include transition(0.3s);
		& i {
			height: 70px;
			width: 70px;
			border-radius: 5px;
			text-align: center;
			line-height: 70px;
			color: $white;
			font-size: 40px;
			position: relative;
			z-index: 10;
			@include transition(0.3s);
			&::after {
				position: absolute;
				content: '';
				left: 0;
				top: 0;
				height: 100%;
				width: 100%;
				background: $theme-color;
				border-radius: 5px;
				z-index: -1;
				@include transition(0.3s);
			}
			& span {
				position: absolute;
				left: -10px;
				top: -10px;
				background: #eeeff2;
				border-radius: 5px;
				z-index: -2;
				height: 70px;
				width: 70px;
				@include transition(0.3s);
			}
		}
		& .title {
			font-size: 22px;
			color: $heading-color;
			padding-top: 35px;
			@include transition(0.3s);
		}
		& p {
			font-size: 15px;
			color: $body-text;
			padding: 23px 35px 0;
			@include transition(0.3s);
			@media #{$lg} {
				padding: 23px 30px 0;
			}
			@media #{$md} {
				padding: 23px 45px 0;
			}
			@media #{$xs} {
				padding: 23px 12px 0;
			}
			@media #{$sm} {
				padding: 23px 35px 0;
			}
		}
		&.active {
			background: $theme-color;
			border-color: $theme-color;
			& i {
				color: $theme-color;
				&::after {
					background: $white;
				}
				& span {
					background: #63b68f;
				}
			}
			& .title {
				color: $white;
			}
			& p {
				color: $white;
			}
		}
		&.style-two {
			padding: 0;
			padding-right: 70px;
			border: none;
			i {
				margin-left: 10px;
			}
			p {
				padding: 0;
				padding-top: 20px;
			}
		}
		&.style-three {
			padding: 0 20px;
			border: none;
			p {
				padding: 0;
				padding-top: 20px;
			}
		}
	}
	& .shape-1 {
		position: absolute;
		top: 180px;
		left: 40px;
	}
	& .shape-2 {
		position: absolute;
		top: 180px;
		right: 40px;
	}
	& .shape-3 {
		position: absolute;
		bottom: 180px;
		left: 40px;
	}
	& .shape-4 {
		position: absolute;
		bottom: 180px;
		right: 40px;
	}
}
