// Font Family
$hee: 'Heebo', sans-serif;
$pop: 'Poppins', sans-serif;
$rub: 'Rubik', sans-serif;

// Colors ---------------
$white: #fff;
$black: #222;
$grey: #f7f7fd;
$theme-color: #279e64;
$theme-color-2: #ffc600;
$body-text: #83868c;
$border-color: #e1e3e6;

// Heading Color
$heading-color: #13287d;

// Soft color
$black-soft: #7e7e7e;

// Responsive Variables
$laptop: 'only screen and (min-width: 1200px) and (max-width: 1600px)';
$lg: 'only screen and (min-width: 992px) and (max-width: 1200px)';
$md: 'only screen and (min-width: 768px) and (max-width: 991px)';
$xs: '(max-width: 767px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';
